@use "variables" as var;
@use "mixins";

#exampleModalLabel {
  font-family: var.$title-font;
  font-size: 2rem;
  @include mixins.for-size(tablet) {
    font-size: 2.5rem;
  }
}

.list-group {
  margin: 0;
  padding: 0;
}

.cartproduct {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__img {
    width: 15%;
    margin-right: 10px;
  }

  &__name {
    width: 40%;
    font-family: var.$title-font;
    font-size: 1.5rem;
    margin-right: 10px;
    @include mixins.for-size(tablet) {
      font-size: 2rem;
    }
  }

  &__price {
    width: 20%;
    font-family: var.$font;
    margin-right: 30px;
    font-size: 1rem;
    @include mixins.for-size(tablet) {
      font-size: 2rem;
    }
  }

  &__amountcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
  }

  &__amount {
    width: 10%;
    font-family: var.$font;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.8rem;
    @include mixins.for-size(tablet) {
      font-size: 2rem;
    }
  }

  &__add,
  &__remove {
    width: 60px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    @include mixins.for-size(tablet) {
      width: 50px;
      height: 50px;
    }
  }
}

.totalAmount {
  font-family: var.$font;
  padding: 10px;
  font-size: 1.5rem;
  @include mixins.for-size(tablet) {
    font-size: 2rem;
  }
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .btn {
    font-family: var.$font;
    font-size: 1.5rem;
    height: 50px;
  }
}
