@use "variables" as var;
@use "mixins";

.footer {
  background-color: var.$popup-color;

  &__title {
    overflow-y: hidden;
    font-family: var.$title-font;
    font-size: 2rem;
    margin-bottom: 10px;
    @include mixins.for-size(laptop) {
      font-size: 3rem;
      margin-left: 100px;
      margin-bottom: 20px;
    }
  }

  &__ul {
    gap: 10px;
    padding-left: 0;

    @include mixins.for-size(laptop) {
      margin-left: 100px;
    }
  }

  &__li {
    font-family: var.$font;
    font-size: 1.2rem;
    list-style: none;
    margin-top: 15px;
    @include mixins.for-size(laptop) {
      font-size: 2rem;
    }

    a {
      &:hover {
        color: var.$icon-hover;
      }
    }
  }
}

.container {
  max-width: 100vw;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  @include mixins.for-size(tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.footer-col {
  width: 50%;
  margin-bottom: 8px;
  padding: 0 15px;

  @include mixins.for-size(tablet) {
    width: 25%;
    margin-bottom: 8px;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include mixins.for-size(laptop) {
      margin-left: 100px;
    }

    a {
      font-size: 1.3rem;
      margin: 0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      color: var.$secondary-color;
      @include mixins.for-size(laptop) {
        font-size: 2rem;
      }

      &:hover {
        color: var.$icon-hover;
      }

      i {
        font-size: 2rem;
        padding-right: 5px;
        @include mixins.for-size(tablet) {
          font-size: 2.5rem;
          padding-right: 10px;
        }
      }
    }
  }
}

.arrow {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  color: var.$secondary-color;
  @include mixins.for-size(tablet) {
    font-size: 3rem;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  color: var.$secondary-color;
  margin-bottom: 3rem;
  @include mixins.for-size(tablet) {
    font-size: 2.5rem;
  }
}

.fa-phone,
.fa-envelope,
.fa-map-marker {
  padding-right: 5px;
  font-size: 2rem;
  @include mixins.for-size(tablet) {
    font-size: 3rem;
    padding-right: 10px;
  }
}
