@use "variables" as var;
.footer {
  height: 20%;
  width: 100%;
  background-color: var.$popup-color;
  bottom: 0;

  &__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;

    li {
      list-style: none;
    }
  }
}
