@use "variables" as var;
@use "mixins";

* {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.1s linear;
  font-family: var.$title-font;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var.$secondary-color;
}
li {
  list-style: none;
}

//////

.header {
  background: var.$popup-color;
  //padding: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  &__navbar {
    position: absolute;
    top: 100%;
    left: -120%;
    width: 100%;
    background: var.$popup-color;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    min-height: 100vh;
  }

  &__menu-bar {
    font-size: 2.5rem;

    color: var.$secondary-color;
    border-radius: 0.3rem;
    cursor: pointer;
  }

  .header__menuBar {
    font-size: 2.5rem;
  }

  &__logo {
    height: 35px;
    margin-left: 20px;
    @include mixins.for-size(tablet) {
      height: 50px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.links {
  font-size: 2rem;
  background: var.$popup-color;
  border: 0.1rem solid var.$secondary-color;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin: 1.5rem;
  display: block;
  text-align: center;
}

.header__navbar.active {
  left: 0;
  display: inline;
  top: 8rem;
  z-index: 100;
}

.icons__search,
.icons__shoppingbag {
  font-size: 2.5rem;
  color: var.$secondary-color;
}

.icons__search:hover,
.icons__shoppingbag:hover {
  color: var.$icon-hover;
}

.btn .badge {
  background-color: var.$icon-hover;
  left: -6;
  top: -2px;
  font-size: 14px;
  color: var.$secondary-color;
}

@media screen and (min-width: 768px) {
  #header__menu-bar {
    display: none;
  }

  .header__navbar {
    display: flex;
    position: relative;
    left: 0%;
    background: none;
    border-top: none;
    margin-left: auto;
    width: auto;
    min-height: 0;
  }

  .header__navbar.active {
    display: none;
    top: 2rem;
    z-index: 0;
  }

  .links {
    font-size: 1.7rem;
    color: var.$secondary-color;
    margin: 0 1rem;
    background: none;

    border: none;
  }

  .links:hover {
    color: var.$icon-hover;
  }
}
