@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@100;200&display=swap");

$primary-color: #fff;
$secondary-color: #000;
$popup-color: #f9f5f0;

//Breakpoints
$tablet: 768px;
$desktop: 1200px;

//Font
$title-font: "Playfair Display";
$font: "Poppins", serif, "Times New Roman", Times, arial;

//button-color, borderradius, bordershadows, icons-size,
//jewelry-bck
