@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@100;200&display=swap");

//Colors
$primary-color: #fff;
$secondary-color: #000;
$popup-color: #f9f5f0;
$icon-hover: #e7cab3;

//Breakpoints
$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

//Fonts
$title-font: "Playfair Display", "Times New Roman";
$font: "Poppins", serif, "Times New Roman", Times, arial;
