@use "variables" as var;
@use "header";
@use "footer";
@use "cartmodal";

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}

.list-group {
  margin: 10px;
  padding: 0;
  border: 0.1px solid var.$secondary-color;
}

.summary {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__order {
    font-family: var.$title-font;
    font-size: 2.5rem;
  }
  &__items {
    font-family: var.$font;
    font-size: 1.5rem;
  }
}

.checkoutproduct {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__img {
    width: 15%;
    margin-right: 10px;
  }

  &__name {
    width: 40%;
    font-family: var.$title-font;
    font-size: 1rem;
    margin-right: 10px;
  }

  &__price {
    width: 10%;
    font-family: var.$font;
    margin-right: 30px;
  }

  &__amountcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
  }

  &__amount {
    width: 10%;
    font-family: var.$font;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__add,
  &__remove {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
  }
}

.checkoutTotalAmount {
  font-family: var.$font;
  font-size: 1.5rem;
  padding: 10px;
}

.shipping {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: var.$title-font;
    font-size: 2rem;
    text-align: center;
  }

  &__methods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: max-content;
    position: relative;
    padding: 30px;
    border: 0.1px solid var.$secondary-color;
    border-radius: 5px;
  }
}

.customer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__form {
    width: 100%;
    position: relative;
    padding: 0;
    border: 0.1px solid var.$secondary-color;
    border-radius: 5px;
  }
  &__title {
    font-family: var.$title-font;
    font-size: 2rem;
    text-align: center;
  }
}

.payment {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  position: relative;
  padding: 0;
  border: 0.1px solid var.$secondary-color;
  border-radius: 5px;

  &__title {
    font-family: var.$title-font;
    font-size: 2rem;
    text-align: center;
  }
}

.purchase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: var.$title-font;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
  }

  &__text {
    font-family: var.$font;
    font-size: 1.2rem;
    text-align: center;
    margin: 20px;
  }
}

.order {
  margin: 10px;

  &__title {
    font-family: var.$title-font;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
  }
}

.orderTotalAmount {
  font-family: var.$font;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 10px;
}

.customerinfo {
  &__title {
    font-family: var.$title-font;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
  }

  font-family: var.$font;
  font-size: 1.3rem;
}

.orderquestions {
  margin: 20px;
  font-family: var.$font;
  font-size: 1.3rem;
  text-align: center;
}
