@use "header";
@use "footer";
@use "cartmodal";
@use "variables" as var;

/* :root {
  --black: black;
  --: #e7cab3;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  //text-transform: capitalize;
  transition: all 0.1s linear;
  font-family: var.$font;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var.$secondary-color;
}
li {
  list-style: none;
}
h4 {
  font-family: var.$title-font;
}

//////
///

.header {
  top: 0;
  left: 0;
  right: 0;
  background: var.$popup-color;
  //padding: 1rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  // position: fixed;

  &__navbar {
    position: absolute;
    top: 100%;
    left: -120%;
    width: 100%;
    background: var.$popup-color;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    min-height: 100vh;
  }

  &__menu-bar {
    font-size: 2.5rem;
    padding: 0.5rem 1.5rem;
    border: 0.1rem solid var.$secondary-color;
    border-radius: 0.3rem;
    cursor: pointer;
  }

  .header__menuBar {
    font-size: 2.5rem;
  }

  &__logo {
    font-size: 2.5rem;
    color: var.$secondary-color;
  }

  &__logo:hover {
    color: var.$icon-hover;
  }
}

.links {
  font-size: 2rem;
  background: var.$popup-color;
  border: 0.1rem solid var.$secondary-color;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin: 1.5rem;
  display: block;
  text-align: center;
}

/* header .navbar {
  display: none;
} */

.header__navbar.active {
  left: 0;
  display: inline;
  top: 8rem;
  z-index: 100;
}

.icons__search,
.icons__shoppingbag {
  font-size: 2.5rem;
  color: var.$secondary-color;
  margin-left: 1.5rem;
}

.icons__search:hover,
.icons__shoppingbag:hover {
  color: var.$icon-hover;
}

/////footer
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
li {
  text-align: justify;
}

.footer {
  background-color: var.$popup-color;
  padding: 8px 0;
}
.footer-col {
  width: 50%;
  margin-bottom: 8px;

  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: var.$secondary-color;
  //text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  // text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: var.$secondary-color;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover,
.arrow:hover {
  color: var.$icon-hover;
  padding-left: 2px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: var.$popup-color;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var.$secondary-color;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: var.$secondary-color;
  background-color: var.$icon-hover;
  border-radius: 50%;
}

ol,
ul {
  padding-left: 0;
}

.arrow {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  color: var.$secondary-color;
}

.copyright {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: 2rem;
  color: var.$secondary-color;
  margin-bottom: 3rem;
}

.faq-description {
  font-size: 14px;
  line-height: 1.5;
  margin: 1.5rem;
}

.faq-mtitle {
  font-family: var.$title-font;
  display: flex;
  // background-color: #f9f5f0;
  padding: 3px;
  border-radius: 7px;

  justify-content: center;
  align-items: center;
}

.faq {
  max-width: 500px;
  margin: 20px auto;
  padding-top: 4px;
  padding-bottom: 4px;
}

.faq-item {
  margin-bottom: 5px;
}

.faq-title {
  display: block;
  padding: 10px 15px;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-out;
}

.faq-title:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: black transparent transparent transparent;
}

.faq-title:hover {
  background-color: var.$icon-hover;
}

.faq-input {
  width: 0;
  height: 0;
  //-webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.faq-input:checked ~ .faq-title {
  background-color: var.$icon-hover;
}

.faq-input:checked ~ .faq-title:after {
  border-style: solid;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent #fff transparent;
}

.faq-input:checked ~ .faq-text {
  display: block;
}

.faq-text {
  display: none;
  padding: 10px 15px;
  color: var.$secondary-color;
  font-size: 16px;
  white-space: pre-line;
}

@media screen and (min-width: 768px) {
  #header__menu-bar {
    display: none;
  }

  .header__navbar {
    display: flex;
    position: relative;
    left: 0%;
    background: none;
    border-top: none;
    margin-left: auto;
    width: auto;
    min-height: 0;
  }

  .header__navbar.active {
    display: none;
    top: 2rem;
    z-index: 0;
  }

  .links {
    font-size: 1.7rem;
    color: var.$secondary-color;
    margin: 0 1rem;
    background: none;

    border: none;
  }

  .links:hover {
    color: var.$icon-hover;
  }

  .contactContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .contact {
    display: flex;
    flex-direction: row;
    //width: 50%;
    margin-left: 8rem;
    width: 75%;

    &__section {
      display: flex;
      flex-direction: column;

      /* margin: 40px;
      margin-left: 200px;
      margin-bottom: -60px; */
    }

    /*  &__title {
     // font-size: 27px;
    } */
    &__text {
      font-size: 15px;
    }
  }

  .thankYouMessage {
    margin: 2rem;
    width: 50%;
  }
  .formContact {
    display: flex;
    justify-content: center;
    width: 50%;

    .form-label {
      font-size: 12px;
    }

    .form-control {
      font-size: 12px;
    }
  }

  .footer-col {
    width: 25%;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 992px) {
  .contact {
    margin-left: 250px;
  }

  .contactForm {
    width: 75%;
  }

  .faq {
    max-width: 750px;
  }
}
