@use "header";
@use "footer";
@use "cartmodal";
@use "variables" as var;

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  &__name {
    font-family: var.$title-font;
    font-size: 20px;
    margin: -5px;
  }

  &__type {
    font-family: var.$font;
    font-size: 10px;
  }

  &__img,
  &__img--second {
    width: 100%;
    height: auto;
  }

  &__price {
    font-family: var.$font;
  }

  &__btn {
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}

.productimgcontainer {
  position: relative;
  width: 50%;
}
