@use "header";
@use "footer";
@use "variables" as var;

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  &__name {
    font-size: 20px;
    margin: -5px;
  }

  &__type {
    font-size: 10px;
  }

  &__img {
    height: 50%;
    width: 50%;
    position: relative;
  }

  &__price {
    font-style: italic;
  }

  &__btn {
    background-color: var.$popup-color;
    border-radius: 4px;
  }
}
