@use "header";
@use "footer";
@use "cartmodal";
@use "variables" as var;
@use "mixins";

.product {
  display: flex;
  flex-direction: column;

  @include mixins.for-size(tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.imgcontainer {
  max-width: 100vw;
  width: 100%;
  margin: 20px;
  overflow: hidden;
  @include mixins.for-size(tablet) {
    width: 50%;
  }
}

.carousel-item {
  width: 100%;
  @include mixins.for-size(tablet) {
    border: 100px solid var.$primary-color;
  }
}
.detailed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  @include mixins.for-size(tablet) {
    justify-content: center;
    width: 50%;
  }

  &__img {
    width: 100%;

    @include mixins.for-size(tablet) {
      width: 50%;
    }
  }

  &__type {
    font-family: var.$font;
    font-size: 1rem;
    @include mixins.for-size(tablet) {
      font-size: 1.5rem;
    }
  }

  &__name {
    font-family: var.$title_font;
    font-size: 2.5rem;
    @include mixins.for-size(tablet) {
      font-size: 3rem;
    }
  }

  &__price {
    font-family: var.$font;
    font-size: 2rem;
    @include mixins.for-size(tablet) {
      font-size: 2.5rem;
    }
  }

  &__btn,
  .btn-group {
    width: 200px;
    margin-top: 10px;
    font-family: var.$font;
    font-size: 2rem;
  }

  &__describe {
    font-family: var.$font;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;

    @include mixins.for-size(tablet) {
      font-size: 1.5rem;
    }

    @include mixins.for-size(tablet) {
      padding: 20px;
    }
  }
}
